body {
	margin: 0 auto;
	width: 980px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    border: 2px dashed #000000;
    padding: 10px;
}

.content {
	width: 65%;
	float: left;
}

figure {
	float: left;
}

figure img {
	width: 100px;
	height: 100px;
}

.sidebar {
	width: 35%;
	height: 100vh;
	float: right;
}

footer {
	width: 100%;
	text-align: center;
}